<div id="prueba">
    <a 
        href="http://stream-radiografica.ddns.net:8110/api" 
        target="_blank" 
        onclick="window.open(this.href, this.target, 'width=240,height=220'); return false;">
        <img 
        id="image-replace"
        src="https://radiografica.org.ar/wp-content/uploads/2022/03/ABRI-LA-CANCHA.png" 
        data-pin-no-hover="true">
    </a>
    <script src="./program-switcher.js"></script>
</div>